*.egg-info/

.idea/

logs/
.ipynb_checkpoints
*.pyc
*.pth

# Trash
.DS_Store
**/__pycache__/
.coverage
dist/
/build/
tmp/
run/
**/env/
/notebooks/

*.pkl
*.pickle
*.bt
*.png
.eggs/
*.h5

Generative-Adversarial-Networks-Projects/
/recipes/3d_gan/3DShapeNets/
/recipes/aging_face/wiki_crop/
